<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm py-3">
  <div class="container">
    <a class="navbar-brand fw-bold d-flex align-items-center" routerLink="/dashboard">
      <div class="bg-primary rounded-circle p-2 me-2 d-flex align-items-center justify-content-center" style="width: 35px; height: 35px;">
        <i class="fa-solid fa-check text-white fs-6"></i>
      </div>
      <span class="tracking-tight">TASK PRO</span>
    </a>
    
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        
        @if (!authService.getAccessToken()) {
          <li class="nav-item">
            <a class="nav-link px-3" routerLink="/login">Iniciar Sesión</a>
          </li>
          <li class="nav-item ms-lg-2">
            <a class="btn btn-primary px-4 shadow-sm" routerLink="/register" style="border-radius: 10px;">Registrarse</a>
          </li>
        } @else {
          <li class="nav-item me-lg-3">
            <a class="nav-link" routerLink="/dashboard">
              <i class="fa-solid fa-house-chimney me-1"></i> Dashboard
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center bg-secondary bg-opacity-10 rounded-pill px-3" 
               href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-circle-user fs-5 me-2"></i>
              <span>Mi Cuenta</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end border-0 shadow-lg mt-2" style="border-radius: 15px;">
              <li>
                <a class="dropdown-item py-2" routerLink="/profile">
                  <i class="fa-solid fa-gear me-2 text-muted"></i> Configurar Perfil
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <button (click)="onLogout()" class="dropdown-item py-2 text-dark fw-bold">
                  <i class="fa-solid fa-right-from-bracket me-2 text-danger"></i> Cerrar Sesión
                </button>
              </li>
            </ul>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>