<nav class="navbar navbar-expand-lg bg-white sticky-top py-3 shadow-sm border-bottom border-light">
  <div class="container">
    <a class="navbar-brand fw-bold d-flex align-items-center flex-nowrap" routerLink="/dashboard" style="letter-spacing: -0.5px;">
      <div class="d-flex align-items-center justify-content-center me-3" style="width: 55px; height: 55px;">
        <img src="/logo.png" alt="TaskPro Logo" class="img-fluid" style="object-fit: contain; max-height: 100%; width: 100%;">
      </div>
      <span style="font-size: 1.5rem; color: var(--text-main); font-weight: 800; line-height: 1;">
        TASK<span class="text-primary">PRO</span>
      </span>
    </a>

    <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">

        @if (!authService.getAccessToken()) {
          <li class="nav-item">
            <a class="nav-link px-3 fw-600 text-muted" routerLink="/login" routerLinkActive="text-primary">Entrar</a>
          </li>
          } @else {
          
          <li class="nav-item me-lg-3">
            <a class="nav-link fw-600 d-flex align-items-center gap-2" routerLink="/dashboard" routerLinkActive="text-primary">
              <i class="fa-solid fa-chart-simple small"></i> Panel
            </a>
          </li>

          @if (authService.isAdmin()) {
            <li class="nav-item me-lg-4">
              <a class="nav-link fw-600 d-flex align-items-center gap-2 text-primary" 
                routerLink="/admin/users">
                <i class="fa-solid fa-user-plus small"></i> Usuarios
              </a>
            </li>
          }

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center bg-light rounded-pill px-3 py-2 border shadow-sm"
               role="button" (click)="toggleDropdown()">
              <i class="fa-solid fa-user fs-6 me-2 text-primary"></i>
              <span class="fw-600 text-dark small">Mi Cuenta</span>
            </a>

            <ul class="dropdown-menu dropdown-menu-end shadow-lg border-0 mt-3" [class.show]="isDropdownOpen">
              <li><a class="dropdown-item rounded-3" routerLink="/profile">Mi Perfil</a></li>
              <li><hr class="dropdown-divider opacity-50"></li>
              <li><button (click)="onLogout()" class="dropdown-item rounded-3 text-danger fw-600">Cerrar Sesión</button></li>
            </ul>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>