.form-control,
.input-group-text,
.input-group {
  height: 52px !important;
}

.input-group {
  border-radius: var(--border-radius-xl) !important;
  overflow: hidden;
  border: 1.5px solid #e2e8f0 !important;
}

.input-group .form-control,
.input-group .input-group-text {
  border: none !important;
  border-radius: 0 !important;
}
