:host {
  display: block;
  min-height: 100vh;
  background-color: #f8f9fa; 
}

.form-control:focus {
  background-color: #fff !important;
  border-color: #0d6efd !important;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.1) !important;
}
